.forgot {
  margin-top: 0.5rem;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: var(--color-black);
  text-decoration: none;
}

.facebook {
  margin-top: 3.5rem;
  font-weight: 700;
  font-size: 16px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 2.4px;
  color: var(--color-black);
  text-decoration: none;
}

.signup {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: var(--color-black);
  text-decoration: none;
}

hr {
  margin: 1rem;
  width: 7.5rem;
}
.contact-form {
  margin: 1.5rem;
}
.contact-label {
  text-align: center;
  display: block;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 1.65px;
  font-weight: 700;
  margin: 1rem;  
}
.contact-input {
  height: 37px;
  width: 80%;
  margin: auto;
  display: block;
}
.contact-text-area {
  height: 35vh;
  width: 80%;
  resize: none;
  margin: auto;
  display: block;
}
.contact-title {
  display: block;
  text-align: center;
}
.contact-button {
  text-align: center;
}
.contact-message-container{
  width: 50vw;
  height: 40vh;
  text-align: center;
  align-content: center;
}
.about-title{
  text-align: center;
}
.about-text{
 font-weight: 400;
font-size: 14px;
line-height: 26px;
text-align: justify;
}