.home {
  text-align: center;
}

.home__logo {
  height: 40vmin;
  pointer-events: none;
}

.home__logout {
  margin: auto;
  max-width: 15rem;
}

@media (prefers-reduced-motion: no-preference) {
  .home__logo {
    animation: Home-logo infinite 20s linear;
  }
}

@keyframes Home-logo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.line {
  width: 95%;
}
.margin-auto {
  margin: auto;
}
.chat_button {
  background-color: transparent;
  border: none;
  margin: 0.5rem;
  display: inline-flex;
}
.have_notifications_container {
  display: inline-flex;
  float: right;
  margin-right: 1rem;
  background-color: var(--color-red);
  border-radius: 5rem;
}
.notifications_empty_container {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-flex;
  float: right;
  margin-right: 0.5rem;
  background-color: transparent;
}

.have_notifications {
  padding: 0.5rem;
  font-weight: 700;
  color: var(--color-white);
}

.notifications_empty {
  font-weight: 700;
  color: var(--color-black);
}
.chat-container {
  height: 74vh;
  width: 37.5vh;
  margin: auto;
}
.chat-box-container {
}
